
:root{
    --main-red: #FF1F20;
    --main-blue: #353B81;
    --main-white: #FFFFFF;
    --main-yellow: #FBD744;
    --pkmn-font: 'Pokemon Hollow', sans-serif;
    --vg-font: 'Press Start 2P', cursive;
    --vg-font2: 'Raleway', sans-serif;
}

body{
    background-color: var(--main-blue);
    color: white;
    overflow-y: scroll;

}


.content-container{
    margin: 3rem auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw; 
    max-width: 1100px;
    
}

h1{
    font-size: 4rem;
    font-family: var(--pkmn-font);
    color: var(--main-white);
    text-align: center;
    margin: 2rem 0;
   
    

}

#play-btn{
    width: 10rem;
    padding: 1rem;
    font-family: var(--vg-font);
    font-size: 1.7rem;
    color: var(--main-white);
    outline: solid 5px black;
    background-color: var(--main-red);
    border-radius: 7px;
    transition: 0.2s ease-in-out;

}

#play-btn:hover{
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;

}
/* Pokemon info/Middle section */

.pokemon-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    align-items: center;
    max-width: 1100px;

}

#win-streak{
    width: 15rem;
    text-align: center;
    font-family: var(--vg-font);
    font-size: 1.5rem;
    padding: 3rem 0;
}

#win-streak div{
    padding: 1rem 0;
}

#pokemon-img{
    height: 25rem;
    opacity: 0.8;
}

#info-list{
  list-style: none;
  width: 15rem;
  padding: 3rem 0 0 0;
  font-family: var(--vg-font);
}

#info-list li{
    padding-bottom: 0.8rem;
}
#info-list li#name{
    font-size: 2rem;
   
}
#ability p{
    margin: 0;

}
#pkmn-stats{
    font-size: .65rem;
}

#stat-list{
    list-style: none;
    padding-top: 0.8rem;
}

/* --------- user submit area -------*/
#user-input-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 70vw;  
}

#pkmn-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#pkmn-form label{
    font-family: var(--pkmn-font);
    font-size: 2rem;
    text-align: center;
   
}

#user-input{
    font-family: var(--vg-font);
    background-color: black;
    color: rgb(202, 202, 192);
    outline: 1px solid var(--main-white);
    border-radius: 7px;
    font-size: 1rem;
    height: 2.2rem;
    width: 12rem;
    margin: 0 1rem;
}

#user-input::placeholder{
    font-size: 0.8rem;
}

#submit-btn{
    font-family: var(--vg-font);
    font-size: 1rem;
    color: var(--main-white);
    outline: solid 3px black;
    background-color: var(--main-red);
    border-radius: 7px;
    padding: 0.8rem;
    transition: 0.2s ease-in-out;
}
#submit-btn:hover{
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;
}

/* Answer response - right or wrong */
#answer-msg{
    font-size: 2rem;
    width: 50vw;
}

.right{
    font-family: var(--vg-font);
    color: rgb(20, 171, 20);
    text-align: center;
}
.wrong{
    font-family: var(--vg-font);
    color: var(--main-red);
    text-align: center;
}

/* --------Option to see correct pokemon list --------*/
#see-list{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#see-list p{
   font-family: var(--pkmn-font); 
   font-size: 1.5rem;
   text-align: center;
   color: var(--main-yellow);
}

#yourPkmn-btn{
    font-family: var(--vg-font);
    font-size: 1rem;
    color: var(--main-white);
    outline: solid 3px black;
    background-color: var(--main-red);
    border-radius: 7px;
    padding: 0.9rem;
    margin-bottom: 5rem;
    transition: 0.2s ease-in-out;
}

#yourPkmn-btn:hover{
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;
}

/* -------- Inside pkmn box -------- */
#pkmn-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(161, 201, 111, 0.8);
    border-radius: 7px;
}

#pkmn-list div img{
    padding: 0 0.5rem;
}
.img-capt{
    text-align: center;
    font-family: var(--vg-font);
    font-size: 0.7rem;
    padding-bottom: 1rem;
    color: var(--main-yellow);

}
/* ---------Pokemon box/modal -------*/

#modal{
    background-color: rgba(85, 162, 103, 0.8);
    padding: 3vw;
    border-radius: 7px;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position:fixed;
    z-index: 5;
    max-width: 600px;
    max-height: calc(100vh - 20%);
    overflow: auto;
   
}

/* 
----------Modal overlay ---------*/
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
    top: 0;
	left: 0;
	background-color: rgba(39, 35, 35, 0.6);
	backdrop-filter: blur(5px);
	z-index: 3;
}


.hidden{
    visibility: hidden;
}


/* -------MEDIA QUERIES ---------- */

@media (max-width: 1050px) {
    #info-list li#name{
        font-size: 1.8rem;
       
    }
    
}
@media (max-width: 950px) {
    .pokemon-content{
        flex-direction: column;

    }

    #win-streak{
        margin-top: 2rem;
    }
    #pkmn-form{
        flex-direction: column;  
    }

    #pkmn-form label{
        margin: 1rem 0;
    }

    #user-input{
        margin-bottom: 1rem;
    }
        
    
}

@media (max-width: 768px) {
   #answer-msg{
    width: 70vw;
   }
    
}

@media (max-width: 500px) {
    h1{
        font-size: 3rem;
    }
    #pokemon-img{
        height: 20rem;
        opacity: 0.8;
    }


}